# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
key.properties
cursetoken
eclipse
run
ignore/
src/generated/
src/main/resources/assets/mmorpg/textures/
src/main/resources/assets/mmorpg/textures
src/main/resources/assets/mmorpg/models/
src/main/resources/assets/mmorpg/models
src/generated
.gitignore
update/